---
BasedOnStyle: LLVM
AlignTrailingComments: 'true'
ColumnLimit: '80'
IncludeBlocks: Regroup
IndentWidth: '4'
MaxEmptyLinesToKeep: '2'
PointerAlignment: Left
SortIncludes: 'true'
SpaceAfterCStyleCast: 'true'
SpaceBeforeParens: ControlStatements
SpacesBeforeTrailingComments: '1'
SpacesInParentheses: 'false'
SpacesInSquareBrackets: 'false'
UseTab: Never

...
